<meta property="og:title" content="{{ site.title | escape }}">
<meta property="og:url" content="{{ site.url | escape }}">
<meta property="og:type" content="">
<meta property="og:image" content="{{ site.url | escape }}/assets/imgages/code.jpg">
<meta property="og:image:alt" content="A computer screen filled with code">
<!-- Image width and height should be set to 300 in order for og:image to work in WhatsApp -->
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">