{%- if page.title -%}
<meta property="og:title" content="{{ page.title }} - {{ site.title }}">
{%- else -%}
<meta property="og:title" content="{{ site.title }}">
{%- endif -%}
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:image:url" content="{{ site.url }}/assets/images/morecode.png">
<meta property="og:image:secure_url" content="{{ site.url }}/assets/images/morecode.png">
<meta property="og:image:alt" content="A computer screen filled with code">